{% extends 'base.html' %}

{% block head_title %} Aministración de contenidos {% endblock %}

{% block content %}
    <h1>Admnistración de Blog</h1>
    <ul>
        <li><a href="{% url 'list_articulo' %}" >Videotutoriales</a>
            <ul>
                <li><a href="{% url 'list_video' %}" >Videos</a></li>
            </ul>
        </li>
        <li>text</li>
    </ul>
{% endblock %}