{% extends 'base.html' %}

{% block head_title %} {{ titulo }} {% endblock %}

{% block content %}
    
    {% for articulo in articulos %}
        
        <article>
            <h2><a href="{% url 'detail_articulo' articulo.id articulo.slug %}">{{ articulo.titulo }}</a></h2>
            <div class='cuerpo'>
                {{ articulo.cuerpo }}
            </div>
        </article>
    
    {% endfor %}
    
{% endblock %}