{% extends 'base.html' %}

{% block head_title %} Crear nueva pagina {% endblock %}

{% block content %}
    <h1>Crear nueva pagina</h1>
    <a href="{% url 'list_pagina' %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}