{% extends 'base.html' %}

{% block head_title %} Eliminar {{ pagina.titulo }} {% endblock %}

{% block content %}
    
    <h2>¿Estas segur@ que deseas eliminar este registro?</h2>
    <h3>"{{ pagina.id }} - {{ pagina.titulo }}"</h3>
    <form method='post' >{% csrf_token %}
        <input type='submit' value='Si' class='btn btn-danger'>
        <a href="{% url 'list_pagina' %}" class='btn btn-info'>No</a>
    </form>

{% endblock %}