{% extends 'base.html' %}
{% load django_markdown %}
{% block content %}
    <h1>{{ pagina.titulo }}</h1>
    <p class='text-muted'>Creado el: {{ pagina.fecha_creacion }} por {{ pagina.autor }}</p>
    <a href="{% url 'edit_pagina' pagina.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ pagina.cuerpo|markdown }}
    </div>
    {% include 'snippets/comentarios.html' with contenido=pagina %}
{% endblock %}