{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_pagina' %}">Crear nueva página</a>
    {% if paginas %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for pagina in paginas %}
                    <tr>
                        <td>
                            <a href="{% url 'detail_pagina' pagina.slug %}">
                                {{ pagina.titulo }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_pagina' pagina.id %}">Actualizar</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_pagina' pagina.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay articulos disponibles</p>
    {% endif %}
{% endblock %}