{% extends 'base.html' %}

{% block head_title %} {{ pagina.titulo }} {% endblock %}

{% block content %}
    <h1>{{pagina.titulo}}</h1>
    <p>{{ pagina.cuerpo }}</p>
    <a href="{% url 'list_pagina' %}" class='btn btn-info' >Regresar</a>
{% endblock %}