{% extends 'base.html' %}

{% block head_title %} Crear un nuevo {{ contenido_nombre }} {% endblock %}

{% block content %}
    <h1>Crear un nuevo {{ contenido_nombre }}</h1>
    <a href="{% url 'list_'|add:contenido_nombre %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}