{% extends 'base.html' %}
{% load django_markdown %}

{% block content %}
    <h1>{{ contenido.titulo }}</h1>
    <p class='text-muted'>Creado el: {{ contenido.fecha_creacion }} por {{ contenido.autor }}</p>
    <a href="{% url 'edit_'|add:contenido_nombre contenido.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ contenido.cuerpo|markdown }}
    </div>
    {% include 'snippets/comentarios.html' %}
{% endblock %}