{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_'|add:contenido_nombre %}">Crear nuevo {{ contenido_nombre }}</a>
    {% if contenidos %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for contenido in contenidos %}
                    <tr>
                        <td>
                            <a href="{% url 'show_'|add:contenido_nombre contenido.id %}">
                                {{ contenido.titulo }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_'|add:contenido_nombre contenido.id %}">Actualizar</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_'|add:contenido_nombre contenido.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay contenidos disponibles</p>
    {% endif %}
{% endblock %}