{% extends 'base.html' %}

{% block head_title %} Crear nuevo articulo {% endblock %}

{% block content %}
    <h1>Crear nuevo articulo</h1>
    <a href="{% url 'list_articulo' %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}