{% extends 'base.html' %}

{% block head_title %} Eliminar {{ articulo.titulo }} {% endblock %}

{% block content %}
    
    <h2>¿Estas segur@ que deseas eliminar este registro?</h2>
    <h3>"{{ articulo.id }} - {{ articulo.titulo }}"</h3>
    <form method='post' >{% csrf_token %}
        <input type='submit' value='Si' class='btn btn-danger'>
        <a href="{% url 'list_articulo' %}" class='btn btn-info'>No</a>
    </form>

{% endblock %}