{% extends 'base.html' %}
{% load django_markdown %}

{% block content %}
    <a href="{% url 'blog_home' %}">Ver todos los articulos</a>
    <h1>{{ articulo.titulo }}</h1>
    <p class='text-muted'>Creado: {{ articulo.fecha_creacion }}</p>
    <!--<a href="{% url 'edit_articulo' articulo.id %}">Actualizar</a>-->
    
    <div class='entrada'>
        {{ articulo.contenido|markdown }}
    </div>
    {% include 'snippets/comentarios.html' with contenido=articulo %}
{% endblock %}