{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_articulo' %}">Crear un articulo</a>
    {% if articulos %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for articulo in articulos %}
                    <tr>
                        <td>
                            <a href="{% url 'show_articulo' articulo.id %}">
                                {{ articulo.titulo }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_articulo' articulo.id %}">Actualizar</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_articulo' articulo.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay articulos disponibles</p>
    {% endif %}
{% endblock %}