{% extends 'base.html' %}

{% block head_title %} {{ articulo.titulo }} {% endblock %}

{% block content %}    
    <h1>{{articulo.titulo}}</h1>
    <p>{{ articulo.cuerpo }}</p>
    <a href="{% url 'list_articulo' %}" class='btn btn-info' >Regresar</a>
{% endblock %}