{% extends 'base.html' %}

{% block head_title %} Crear nuevo comentario {% endblock %}

{% block content %}
    <h1>Crear nuevo comentario</h1>
    <a href="{% url 'list_comentario' %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
    <a href="{% url 'list_comentario' %}" class='btn btn-info' >Regresar</a>
{% endblock %}