{% extends 'base.html' %}

{% block head_title %} Eliminar "{{ comentario.titulo }}" {% endblock %}

{% block content %}
    
    <h2>¿Estas segur@ que deseas eliminar este registro?</h2>
    <h3>"{{ comentario.id }} - {{ comentario.titulo }}"</h3>
    <form method='post' >{% csrf_token %}
        <input type='submit' value='Si' class='btn btn-danger'>
        <a href="{% url 'list_comentario' %}" class='btn btn-info'>No</a>
    </form>

{% endblock %}