{% extends 'base.html' %}
{% load django_markdown %}
{% block content %}
    <h1>{{ entrada.titulo }}</h1>
    <p class='text-muted'>Creado: {{ entrada.fecha_creacion }}</p>
    <a href="{% url 'articulos_edit' entrada.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ entrada.contenido|markdown }}
    </div>
{% endblock %}