{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_comentario' %}">Crear un comentario</a>
    {% if comentarios %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for comentario in comentarios %}
                    <tr>
                        <td>
                            <a href="{% url 'show_comentario' comentario.id %}">
                                {{ comentario.titulo }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_comentario' comentario.id %}">Actualizar</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_comentario' comentario.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay comentarios disponibles</p>
    {% endif %}
{% endblock %}