{% extends 'base.html' %}

{% block head_title %} {{ comentario.titulo }} {% endblock %}

{% block content %}    
    <h1>{{comentario.titulo}}</h1>
    <p>{{ comentario.cuerpo }}</p>
    <a href="{% url 'list_comentario' %}" class='btn btn-info' >Regresar</a>
{% endblock %}