{% extends 'base.html' %}

{% block head_title %} {{ titulo }} {% endblock %}

{% block content %}
    
    {% for videotutorial in playlists %}
        
        <article>
            <h2><a href="{% url 'detail_playlist' videotutorial.slug %}">{{ videotutorial.titulo }}</a></h2>
            <div class='cuerpo'>
                {{ videotutorial.cuerpo }}
            </div>
        </article>
    
    {% endfor %}
    
{% endblock %}