{% extends 'base.html' %}

{% block head_title %} Crear nueva lista de reproducción {% endblock %}

{% block content %}
    <h1>Crear nueva lista de reproducción</h1>
    <a href="{% url 'list_playlist' %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}