{% extends 'base.html' %}
{% load django_markdown %}
{% load embed_video_tags %}

{% block content %}
    <h1>{{ playlist.titulo }}</h1>
    <p class='text-muted'>Creado el: {{ playlist.fecha_creacion }} por {{ playlist.autor }}</p>
    <a href="{% url 'edit_playlist' playlist.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ playlist.cuerpo|markdown }}
    </div>
    <div class='video'>
        {% video playlist.direccion as my_pl %}
            URL: {{ my_pl.url }}<br>
            Thumbnail: <img src="{{ my_pl.thumbnail }}" /><br>
            Backend: {{ my_pl.backend }}<br>
            {% video my_pl 'medium' %}
        {% endvideo %}
        <br>
        {{ playlist.direccion }}
    </div>
    {% include 'snippets/comentarios.html' with contenido=playlist %}
{% endblock %}