{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_playlist' %}">Crear un nueva lista de reproducción</a>
    {% if playlists %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                    <tr>
                        <td>
                            <a href="{% url 'show_playlist' playlist.id %}">
                                {{ playlist.titulo }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_playlist' playlist.id %}">Actualizar</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_playlist' playlist.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay playlists disponibles</p>
    {% endif %}
{% endblock %}