{% extends 'base.html' %}
{% load embed_video_tags %}
{% block head_title %} {{ playlist.titulo }} {% endblock %}

{% block content %}
    <h1>{{playlist.titulo}}</h1>
    <p>{{ playlist.cuerpo }}</p>
    <p>{{ playlist.direccion }} </p>
    <ul>
        {% for video in playlist.videos.all %}
            <li>
                <p>{{ video.titulo }}</p>
                <p>{% video video.direccion as my_video %}
                    <a href="{% url 'show_video' video.id %}" ><img height=100 src="{{ my_video.thumbnail }}" /></a>
                {% endvideo %}</p>
                <p><a href="{% url 'edit_video' playlist.id video.id %}">Editar</a></p>
                <p><a href="{% url 'delete_video' video.id %}" >Eliminar</a></p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'list_playlist' %}" class='btn btn-info' >Regresar</a>
    <a href="{% url 'create_video' playlist.id %}" class='btn btn-info' >Agregar video</a>
{% endblock %}