{% load staticfiles %}
<html lang="es">
    <head>
        <meta charset='utf-8'>
        <meta name="description" content="Te enseñamos como crear software libre y de cógigo abierto" >
		<meta name="keywords" content="" >
		<meta name="author" content="Hernán Aguilera" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %} DevFOSS | Aprende como crear software libre y de código abierto {% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link href="{% static 'css/bootstrap.min.css' %}" type='text/css' rel='stylesheet'>
        <link href="{% static 'css/united-theme.min.css' %}" type='text/css' rel='stylesheet'>
        <link href="{% static 'css/style.css' %}" type='text/css' rel='stylesheet'>
    </head>
    <body>
        <div class="main-menu">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class='container'>
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a style="padding: .5em .25em" class="navbar-brand" href="#">
                                <img
                                    src="{% static 'images/devfoss_200x35.png' %}"
                                    alt="DevFOSS"
                                >
                          </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Inicio</a></li>
                                <li><a href='/blog'>Blog</a></li>
                                <li><a href="/guias">Guias</a></li>
                                <li><a href="{% url 'home_playlist' %}">Videos</a></li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        ¿Quiénes somos?
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/blog/quienes-somos">DevFOSS</a></li>
                                        <li><a href="/blog/como-colaborar">Cómo Colaborar</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                                <li><a href="/noticias">Noticias</a></li>                            
                            </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        {% if user.is_authenticated %}
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                Admin<span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/blog/admin">Blog admin</a></li>
                                                <li><a href="{% url 'logout' %}">Salir</a></li>
                                            </ul>
                                        {% else %}
                                            <a href="{% url 'login' %}">
                                                login {{ user.username }}
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
			</nav>
		</div>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
        <div class='container'>
            <div class="col-md-4">
                {% block b_lateral %}
                {% endblock %}
            </div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <span style="font-size: small;">
                    <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES" rel="license">
                        <img style="border-width: 0;" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" alt="Licencia de Creative Commons">
                    </a>
                </span>
                <br>
                <span style="font-size: small;">
                    DevFOSS by
                    <a href="http://about.me/hernanaguilera" rel="cc:attributionURL" target="_blank">
                        Hernán Aguilera
                    </a>
                    is licensed under a
                    <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES" rel="license">
                        Creative Commons Reconocimiento-CompartirIgual 3.0 Unported License
                    </a>.
                </span>
                <br>
                <span style="font-size: small;">
                    Permissions beyond the scope of this license may be available at
                    <a href="http://devfoss.org/derechos-sobre-el-contenido" rel="cc:morePermissions">
                        http://devfoss.org/derechos-sobre-el-contenido
                    </a>.
                </span>
            </footer>
        </div>
        <script src="{% static 'js/lib/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    </body>
</html>