{% extends 'base.html' %}

{% block head_title %} Crear nuevo videotutorial {% endblock %}

{% block content %}
    <h1>Agregar nuevo video en "{{ playlist.titulo }}"</h1>
    
    <a href="{% url 'list_video' %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}