{% extends 'base.html' %}
{% load django_markdown %}
{% load embed_video_tags %}

{% block content %}
    <h1>{{ videotutorial.titulo }}</h1>
    <p class='text-muted'>Creado el: {{ videotutorial.fecha_creacion }} por {{ videotutorial.autor }}</p>
    <a href="{% url 'edit_videotutorial' videotutorial.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ videotutorial.cuerpo|markdown }}
    </div>
    <div class='video'>
        {% video videotutorial.video as my_video %}
            URL: {{ my_video.url }}<br>
            Thumbnail: <img src="{{ my_video.thumbnail }}"></div><br>
            Backend: {{ my_video.backend }}<br>
            {% video my_video 'medium' %}
        {% endvideo %}
        <br>
        {{ videotutorial.video }}
    </div>
    {% include 'snippets/comentarios.html' with contenido=videotutorial %}
{% endblock %}