{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_video' 0 %}">Crear un nuevo video</a>
    {% if videos %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                    <tr>
                        <td>
                            <a href="{% url 'show_video' video.id %}">
                                {{ video.titulo }}
                            </a>
                        </td>
                        {% if video.playlist %}
                            <td>
                            <a href="{% url 'edit_video' video.playlist.id video.id %}">Actualizar</a>
                            </td>
                        {% else %}
                            <td>
                            <a href="{% url 'edit_video' 0 video.id %}">Actualizar</a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'delete_video' video.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay videos disponibles</p>
    {% endif %}
{% endblock %}