{% extends 'base.html' %}

{% block head_title %} {{ video.titulo }} {% endblock %}

{% block content %}
    <h1>{{video.titulo}}</h1>
    <p>{{ video.cuerpo }}</p>
    <a href="{% url 'list_video' %}" class='btn btn-info' >Regresar</a>
{% endblock %}