{% extends 'base.html' %}

{% block head_title %} Contacto | DevFOSS {% endblock %}

{% block content %}
    
    <h1>Formulario de contacto</h1>
    <form>
        {% include "snippets/form.html" %}
    </form>
    
{% endblock %}