<section>
    <h2>Comentarios</h2>
    <form method='post'>
        {% include 'snippets/form.html' %}
    </form>
</section>
{% if contenido.comentarios %} 
    {% for comentario in contenido.comentarios.all %}
        <article>
            <h3>{{ comentario.titulo }}</h3>
            <p class='text-muted'>Creado: {{ comentario.fecha_creacion }}</p>
            <p>{{ comentario.cuerpo }}</p>
        </article>
    {% endfor %}
{% else %}
    <p>Aun no hay ningun comentario para esta entrada</p>
{% endif %}