{% load filtros %}
{% csrf_token %}
{% for field in form %}
    <div class='row'>
        {% if field.errors %}
           <div class='bg-danger'> {{ field.errors }} </div>
        {% endif %}
        {{ field.label_tag }}
        {{ field|bootstrap_class }}
    </div>
{% endfor %}
<input class="btn btn-primary" type="submit" value="Enviar" />