{% extends 'base.html' %}

{% block head_title %} Crear nuevo {% endblock %}

{% block content %}
    <h1>Agregar nuevo un {{ contenido_nombre }} en "{{ base.titulo }}"</h1>
    
    <a href="{% url 'list_'|add:contenido_nombre %}">Regresar</a>
    <form method='post'>{% csrf_token %}
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}