{% extends 'base.html' %}

{% block head_title %} Eliminar {{ contenidotutorial.titulo }} {% endblock %}

{% block content %}
    
    <h2>¿Estas segur@ que deseas eliminar este registro?</h2>
    <h3>"{{ contenido.id }} - {{ contenido.titulo }}"</h3>
    <form method='post' >{% csrf_token %}
        <input type='submit' value='Si' class='btn btn-danger'>
        <a href="{% url 'list_'|add:contenido_nombre %}" class='btn btn-info'>No</a>
    </form>

{% endblock %}