{% extends 'base.html' %}
{% load django_markdown %}
{% load embed_contenido_tags %}

{% block content %}
    <h1>{{ contenidotutorial.titulo }}</h1>
    <p class='text-muted'>Creado el: {{ contenidotutorial.fecha_creacion }} por {{ contenidotutorial.autor }}</p>
    <a href="{% url 'edit_contenidotutorial' contenidotutorial.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ contenidotutorial.cuerpo|markdown }}
    </div>
    <div class='contenido'>
        {% contenido contenidotutorial.contenido as my_contenido %}
            URL: {{ my_contenido.url }}<br>
            Thumbnail: <img src="{{ my_contenido.thumbnail }}"></div><br>
            Backend: {{ my_contenido.backend }}<br>
            {% contenido my_contenido 'medium' %}
        {% endcontenido %}
        <br>
        {{ contenidotutorial.contenido }}
    </div>
    {% include 'snippets/comentarios.html' with contenido=contenidotutorial %}
{% endblock %}