{% extends 'base.html' %}
{% load filtros %}

{% block content %}
    <a href="{% url 'create_'|add:contenido_nombre 0 %}">Crear un nuevo contenido</a>
    {% if contenidos %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for contenido in contenidos %}
                    <tr>
                        <td>
                            <a href="{% url 'show_'|add:contenido_nombre contenido.id %}">
                                {{ contenido.titulo }}
                            </a>
                        </td>
                        {% if contenido|get_atribute:base_nombre %}
                            <td>
                            <a href="{% url 'edit_'|add:contenido_nombre contenido|get_atribute:base_nombre|get_atribute:'id' contenido.id %}">Actualizar</a>
                            </td>
                        {% else %}
                            <td>
                            <a href="{% url 'edit_'|add:contenido_nombre 0 contenido.id %}">Actualizar</a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'delete_'|add:contenido_nombre contenido.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay contenidos disponibles</p>
    {% endif %}
{% endblock %}