{% extends 'base.html' %}

{% block head_title %} {{ contenido.titulo }} {% endblock %}

{% block content %}
    <h1>{{contenido.titulo}}</h1>
    <p>{{ contenido.cuerpo }}</p>
    <a href="{% url 'list_'|add:contenido_nombre %}" class='btn btn-info' >Regresar</a>
{% endblock %}