{% extends 'base.html' %}

{% block titleheader %} Login {% endblock %}

{% block content %}
    <div class='bg-danger'>{{ mensaje }}</div>
    <form method="post" action="{% url 'login' %}" >
        {% include 'snippets/form.html' %}
    </form>
{% endblock %}