{% extends 'base.html' %}
{% load django_markdown %}
{% load embed_video_tags %}

{% block content %}
    <h1>{{ encuesta.titulo }}</h1>
    <p class='text-muted'>Creado el: {{ encuesta.fecha_creacion }} por {{ encuesta.autor }}</p>
    <a href="{% url 'edit_playlist' encuesta.id %}">Actualizar</a>
    
    <div class='entrada'>
        {{ encuesta.cuerpo|markdown }}
    </div>
    {% if encuesta.opciones.all|length>0 %}
        <div class='opciones'>
            <ul>
            {% for opcion in encuesta.opciones.all %}
                <li>
                    {{ opcion.titulo }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% include 'snippets/comentarios.html' with contenido=encuesta %}
{% endblock %}