{% extends 'base.html' %}

{% block head_title %} {{ titulo }} {% endblock %}

{% block content %}
    
    {% for objeto in encuestas %}
        
        <article>
            <h2><a href="{% url 'detail_encuesta' objeto.slug %}">{{ objeto.titulo }}</a></h2>
            <div class='cuerpo'>
                {{ objeto.cuerpo }}
            </div>
        </article>
    
    {% endfor %}
    
{% endblock %}